/** @format */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #161b22;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.titulo {
  color: #8892bf;
  font-size: 4rem;
  text-align: center;
}
.subtitulo {
  color: #58a6ff;
  font-size: 2.5rem;
  text-align: left;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
